body {
    background-color: gray;
    color: #242400;
    font-family: "Trebuchet MS";
}
#tuner {
    background-color: #252020;
    height: 185px;
    width: 960px;
    padding-top: 5px;
    border-radius: 5px;
    background: url('../img/navy_blue.png') repeat;
    margin-bottom: 10px;
}
.rivets {
    width: 100%;
    height: 20px;
    margin: 5px 0;
    clear: both;
}
.rivet {
    margin: 0 10px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    -moz-box-shadow:0px 0px 10px 5px #444  inset;
    -webkit-box-shadow:0px 0px 10px 5px #444  inset;
    box-shadow:0px 0px 10px 5px #444  inset;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}
.rivets .rivet:first-child {
    float:left;
}
.rivets .rivet:last-child {
    float:right;
}
.selection {
    float: left;
    width:147px;
    height: 60px;
    line-height: 60px;
    font-size: 35px;
    text-align: center;
    color: #242400;
    cursor: pointer;
    border-right: 1px solid #444;
}
.selection:last-child {
    border-right: none;
}
#selection-box {
    height: 56px;
    width: 146px;
    border: 2px solid grey;
    border-bottom: 2px solid red;
    position: absolute;
    text-align: bottom;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 1%, rgba(0,0,0,0) 61%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(1%,rgba(0,0,0,0.65)), color-stop(61%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0) 61%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0) 61%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0) 61%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0) 61%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
#selection-arrow {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid red;
    margin: 0 auto;
    margin-top: 38px;
}
#selection-container {
    border: 2px solid #191919;
    margin: 0 auto;
    height: 60px;
    width: 890px;
    position: relative;
    overflow: hidden;
    -moz-box-shadow:0px 0px 10px 5px #444  inset;
    -webkit-box-shadow:0px 0px 10px 5px #444  inset;
    box-shadow:0px 0px 10px 5px #444  inset;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');    

    background: rgb(229,230,150); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(229,230,150,1) 42%, rgba(238,242,159,1) 70%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(42%,rgba(229,230,150,1)), color-stop(70%,rgba(238,242,159,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(229,230,150,1) 42%,rgba(238,242,159,1) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(229,230,150,1) 42%,rgba(238,242,159,1) 70%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(229,230,150,1) 42%,rgba(238,242,159,1) 70%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(229,230,150,1) 42%,rgba(238,242,159,1) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#eef29f',GradientType=0 ); /* IE6-9 */
}


#light-button-container {
    width: 600px;
    height: 40px;
    margin: 10px auto;
}
.light-button {
    float: left;
    height: 40px;
    width: 40px;
    margin: 0 39px;
}
.light-button-backlight {
    height: 38px;
    width: 38px;
    border-radius: 38px;
    border: 1px solid gray;
    -moz-box-shadow:0px 0px 10px 5px #444;
    -webkit-box-shadow:0px 0px 10px 5px #444;
    box-shadow:0px 0px 10px 5px #444;
}
.light-button-bezel {
        margin: 0 auto;
        height: 30px;
        width: 30px;
        border-radius: 30px;
        border: 4px solid lightgray;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 1%, rgba(0,0,0,0) 61%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(1%,rgba(0,0,0,0.65)), color-stop(61%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0) 61%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0) 61%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0) 61%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0) 61%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#screen {
    background-color: #252020;
    height: 510px;
    width: 960px;
    padding-top: 5px;
    border-radius: 5px;
    background: url('../img/navy_blue.png') repeat;
}
#inner-screen {
    height: 440px;
    width: 890px;
    margin: 0 auto;
    border: 2px solid #191919; 
    -moz-box-shadow:0px 0px 10px 5px #444  inset;
    -webkit-box-shadow:0px 0px 10px 5px #444  inset;
    box-shadow:0px 0px 10px 5px #444  inset;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');    

    background: rgb(229,230,150); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(229,230,150,1) 42%, rgba(238,242,159,1) 70%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(42%,rgba(229,230,150,1)), color-stop(70%,rgba(238,242,159,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(229,230,150,1) 42%,rgba(238,242,159,1) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(229,230,150,1) 42%,rgba(238,242,159,1) 70%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(229,230,150,1) 42%,rgba(238,242,159,1) 70%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(229,230,150,1) 42%,rgba(238,242,159,1) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#eef29f',GradientType=0 ); /* IE6-9 */
}
.subscreen {
    height: 420px;
    width: 870px;
    margin: 10px auto;
}
.subscreen .inner {
    width: 413px;
    height: 348px;
    margin: 10px;
    padding: 1px;
}
.screen-header {
    height: 49px;
    width: 100%;
    border-bottom: 1px solid #242400;
}
.screen-header .title {
    height: 50px;
    width: auto;
    line-height: 50px;
    font-size: 35px;
    margin-left: 10px;
    float: left;
}
.selectable-action {
    height: 30px;
    width: auto;
    margin: 10px 10px;
    line-height: 30px;
    font-size: 18px;
    padding: 0px 5px;
    float: right;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #242400;
}
.selectable-action.selected {
    background-color: #242400;
    color: rgb(229,230,150);
}
.screen-menu {
    height: 370px;
    width: 434px;
    float: left;
    border-right: 1px solid #242400;
}
.screen-action {
    height: 370px;
    width: 435px;
    float: right;
}
.action-subscreen {
    display: none;
}
#screen-cache {
    display: none;
}
.field-set {
    height: auto;
    width: 340px;
    margin: 20px auto;
}
.field {
    height: 40px;
    width: 340px;
    margin: 20px 0px;
}
input {
    border: none;
    outline: none;
    width: 340px;
    border-bottom: 2px solid #242400;
    margin-bottom: 0;
    color: gray;
    font-size: 20px;
}
.input-label {
    float: right;
    color: #242400;
    font-weight: bold;
}
.validation-message {
    color: #FF3333;
    display:none;
    font-size: 12px;
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; 
    border-top: 10px solid #242400;
    float: right;
}
#client-select {
    width: 340px;
    height: auto;
    margin: 0 auto;
}
.client-selection {
    height: 19px;
    width: 19px;
    border: 1px solid #242400;
    margin: 5px 46px;
    float: left;
    cursor: pointer;
}
.client-selection .selection-inner {
    height: 17px;
    width: 17px;
    margin: 1px;
}
.client-selection .selection-inner.selected {
    background-color: #242400;
}
#client-img {
    width: 340px;
}
#faq-list {
    list-style-type: none;
    cursor: pointer;
}
.fag-item {

}
.faq-item.selected {
    font-size: 20px;
    font-weight: bold;
}
.faq-message {
    display: none;
}
.faq-message.active {
    display: block;
}